#texto{
    font-family:sans-serif;
    color:red;
    align-items: center;
    text-align: center;
    vertical-align:middle;
    display:table-cell;
    left:40%;
    margin-left:-100px; /* Metade do valor da Largura */
    position:absolute;
    width:400px; /* Valor da Largura */
}
body{
    background-color: black;
}